.about-author-box-clearfix:before, .about-author-box-clearfix:after { content: " "; display: table; }
.about-author-box-clearfix:after { clear: both; }
.about-author-box-clearfix { *zoom: 1; }

.about-author-box {
	overflow: hidden;	
	margin-bottom: 25px;
}

.about-author-box-border-full {
	border: 1px solid rgba( 0, 0, 0, 0.2 );
	padding: 15px;
}

.about-author-box-border-horizontal {
	border: 1px solid rgba( 0, 0, 0, 0.2 );
	border-width: 1px 0;
	padding: 15px 0;
}

	.about-author-box-sidebar {
		float: left;
		margin-right: 25px;
	}

	.about-author-box-sidebar-position-right {
		float: right;
		margin-right: 0;
		margin-left: 25px;
	}

		.about-author-box-avatar {

		}

			.about-author-box-avatar img {
				display: block;
			}

			.about-author-box-avatar-style-circle img {
				border-radius: 50%;
			}

			.about-author-box-border-horizontal .about-author-box-avatar img,
			.about-author-box-border-full .about-author-box-avatar img {
				border: 1px solid rgba( 0, 0, 0, 0.2 );
				padding: 5px;
			}

			.about-author-box-avatar-style-rounded img {
				border-radius: 5px;
            }
            
            .about-author-box-avatar-style-square img {
                border-radius: 0;
            }

	.about-author-box-main {
		overflow: hidden;
	}

		.about-author-box-info {
			font-weight: 600;
		}

		.about-author-box-bio {
			margin-top: 10px;
		}

		.about-author-box-social {
			margin-top: 10px;
		}

			.about-author-box-social a {
				margin-right: 5px;
			}

			.about-author-box-social a:last-child {
				margin-right: 0;
			}